.search {
    border: 2px double black;
    outline-style: double;
    width: 30%;
    margin: 0 auto;
    /*    text-align: right;*/
    /*    padding: 10px;*/
    background-color: white;
}


.photo {
    display: block;
    margin: 0 auto;
    width: 50%;
}

.navi {
    background: black;
    font-size: 30px;
    text-align: auto;
    border-radius: 10px;
    opacity: 0.8;
    filter: alpha(opacity=50);
    width: 80%;
    margin: 0 auto;
}


a:hover {
    background-color: white;
}

li {
    display: inline;
}


li a {
    color: grey;
    text-decoration: none;
}

body {
    background-image: url(img/hotel.jpg);
    font-family: sans-serif;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.login {
    border: 2px double black;
    outline-style: double;
    width: 30%;
    margin: auto;
    text-align: center;
    padding: 10px;
    background-color: white;
}



.sign {
    border: 2px double black;
    outline-style: double;
    height: 30%;
    width: 50%;
    margin: auto;
    text-align: auto;
    padding: 30px;
    background-color: white;
}

.register {
    border: 2px double black;
    outline-style: double;
    width: 30%;
    margin: auto;
    text-align: center;
    padding: 10px;
    background-color: white;
}

.hotel {
    border: 2px double black;
    outline-style: double;
    width: 30%;
    margin: auto;
    text-align: right;
    padding: 10px;
    background-color: white;
    width: 40%;
    margin-bottom: 20px;
}

.results {
    color: white;
    text-align: center;
    text-shadow: 2px 2px #232323;
}




footer {
    color: white;
    text-align: center;
    font-size: 20px;
}

@media only screen and (max-width: 980px) {
    .photo {
        width: 100%;
    }
    .photo img {
        max-width: 100%;
    }
    .navi {
        font-size: 18px;
        width: 100%;
        padding: 10px;
    }
    .search {
        width: 80%;
        margin-top: 10px;
        padding: 10px;
    }
    .hotel {
        width: 80%;
    }
    .sign {
        width: 80%;
        margin-top: 10px;
        padding: 10px;
    }
    .login {
        width: 80%;
        margin-top: 10px;
        padding: 10px;
    }
    .register {
        width: 80%;
        margin-top: 10px;
        padding: 10px;
    }
}
