*
.search{
    border: 2px double black;
    outline-style: double;
    width: 30%;
    margin: auto;
    text-align: right;
    padding: 10px;
    
}

.photo {
    display: block;
    margin: auto;
    width: 40%;

    
}

.navi{
    background: black;
    font-size: 30px;
    text-align: right;
    border-radius: 10px;


}

li{
    display: inline;

}



li a {
    color: grey;
    text-decoration: none;
}

body{
    background-image: url(img/hotel.jpg);
    
}

.login{
    border: 2px double black;
    outline-style: double;
    width: 30%;
    margin: auto;
    text-align: right;
    padding: 10px;
}



.sign{
     border: 2px double black;
    outline-style: double;
    width: 30%;
    margin: auto;
    text-align: right;
    padding: 10px;
}